.header_paragraph {
    background: rgba(107, 102, 98, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 143%;
}